<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%> - OS Loader Image Server</title>
    <link rel="stylesheet" href="/hackcss/dist/hack.css">
    <!-- Hack CSS - easy and simple -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <style>
    .margin {
      margin:6px;
    }
    </style>
  </head>
  <body class="hack">
    <div class="main container">
      <h2>OS Loader Image Server</h2>
      <div class="grid">
        <div class="cell -3of12">
          <div class="menu">
            <%nav.map(function(n) {
              %><a class="menu-item" href="<%=n.url%>"><i style="width:16px;" class="fa fa-<%=n.icon%>"></i><%=n.name%><div class="pull-right">»</div></a><%
            })%>
          </div>
        </div>
      </div>
      <h1><%=title%></h1>
      <%-html%>
    </div>
  </body>
</html>
