<div class="grid">
  <div class="cell -4of12 margin">
    <div class="card">
      <header class="card-header">Update Repository</header>
      <div class="card-content">
        <div class="inner">
          <%if (s.update) {
            %>
              <div class="btn btn-ghost">Updating...</div>
            <% } else { %>
              <form action="/admin/Repo/update" method="POST">
                <button class="btn btn-success">Update</button>
              </form>
            <%
          }%><br>
          Last Update: <%=s.last.getTime()?(s.last):"-"%>
        </div>
      </div>
    </div>
  </div>
  <div class="cell -4of12 margin">
    <div class="card">
      <header class="card-header">IPFS Status</header>
      <div class="card-content">
        <div class="inner">
          Running: <%=status.ipfs.running?"Yes":"No"%><br>
          Type: <%=status.ipfs.external?"External":"Internal"%><br>
          Peer ID: N/A<br>
          PID: <%=status.ipfs.pid?status.ipfs.pid:"N/A"%></div>
      </div>
    </div>
  </div>
  <div class="cell -4of12 margin">
    <div class="card">
      <header class="card-header">Server Status</header>
      <div class="card-content">
        <div class="inner">
          Tasks in Queue: <%=status.server.queue%><br>
          Failures: <%=status.server.count.fails%><br>
          Sucesses: <%=status.server.count.sucess%><br>
          Total: <%=status.server.count.total%><br>
          Status: <%=status.server.active?"Executing Tasks...":"Idle"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid">
  <div class="cell -12of12">
    <div class="card" style="margin:8px 48px 32px 48px;">
      <header class="card-header">Repo Config</header>
      <div class="card-content">
        <div class="inner">
          Output Directory: <%=maindir+"/"+config.out%>
        </div>
      </div>
    </div>
  </div>
</div>
