<div class="grid">
  <div class="cell -4of12 margin">
    <div class="card">
      <header class="card-header">Update Repository</header>
      <div class="card-content">
        <div class="inner">
          <%if (s.update) {
            %>
              <div class="btn btn-ghost">Updating...</div>
            <% } else { %>
              <form action="/admin/Repo/update" method="POST">
                <button class="btn btn-success">Update</button>
              </form>
            <%
          }%><br>
          Last Update: <%=s.last.getTime()?(s.last):"-"%>
        </div>
      </div>
    </div>
  </div>
  <div class="cell -8of12 margin">
    <div class="card">
      <header class="card-header">Repo Status</header>
      <div class="card-content">
        <div class="inner">
          Status: <%=status.repo.update?"Updating...":status.repo.exists?"Online":"Offline"%><br>
          Last Update: <%=status.repo.last%><br>
          Size: <%=humanFileSize(status.repo.size)%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid">
  <div class="cell -12of12">
    <div class="card" style="margin:8px 48px 32px 48px;">
      <header class="card-header">Repo Config</header>
      <div class="card-content">
        <div class="inner">
          Output Directory: <%=maindir+"/"+config.out%>
        </div>
      </div>
    </div>
  </div>
</div>
